# ignore old email validator directory and all subdirectories
Bulk Email Validator/

# ignore conference site directory and all subdirectories
Conference Site/

# ignore conference site directory and all subdirectories
Eloqua Email Status/

# ignore conference site directory and all subdirectories
Marketing/

# ignore conference site directory and all subdirectories
Marketing Planning/

# ignore Segmenter directory and all subdirectories
Segmenter/

# ignore files in Generator/pages directory and all subdirectories
Generator/pages/*

# ignore test files
test*.html